.items-list
{
  > ul
  {
    grid-template-columns: repeat(2, 40%);

    > li
    {
      .thumbnail,
      .presentation
      {
        width: 100%;
      }

      .thumbnail,
      .thumbnail img
      {
        height: 300px;
      }

      .thumbnail
      {
        border-radius: 2px;
        overflow: hidden;

        .window-header
        {
          background-color: #E7EAED;
          height: 14px;
          display: flex;
          align-items: center;
          padding-left: 5px;
          box-shadow: 0 -3px 4px 4px #b4b4b454;
          position: relative;

          span
          {
            width: 7px;
            height: 7px;
            margin: 0 5px;
            border-radius: 50%;

            &:first-child{background-color: #FF6059;}
            &:nth-child(2){background-color: #FFBD2E;}
            &:last-child{background-color: #28C941;}
          }
        }
      }
    }
  }
}
