.items-list
{
  > ul
  {
    grid-template-columns: repeat(2, 40%);

    > li
    {
      .thumbnail,
      .presentation
      {
        width: 100%;
      }

      .thumbnail,
      .thumbnail img
      {
        height: 300px;
      }
    }
  }
}
