$main-background-color: linear-gradient(51deg, #0f0d0d, #734b6d);//linear-gradient(45deg, #000, #734b6d);
$main-background-merge: #1F1D2B;
$main-background-color-secondary: #1F1D2B;
$main-background-color-light: #353340;
$main-color-light: white;
$main-color-light-2: #6c4766;
$main-color-dark: #1F1D2B;

$link-color: #ccc;
$link-color-active: white;

$input-placeholder: #605F63;

$separator-border: #ffffff1f;


//buttons
$submit-background: #51ADED;
$submit-color: #FFF;

//Input
$input-background-color-light: #fff;
$input-color-light: $main-background-color-light;
$input-background-transparent: #6d476770;
$input-color-transparent: #eee;
