<form [formGroup]="cv_form" [class.hidden]='block_active === "download"'>

  <!-- ---------------------------------------------- -->
  <!-- -----------------heading--------------------- -->
  <!-- ---------------------------------------------- -->
  <div class="heading block" [class.active]='block_active === "heading"'>

    <div class="fields-block">
      <!-- Import Image -->
      <div class="block-photo">
        <div class="img">
          <img src="/assets/images/user-placeholder.jpeg">
        </div>

        <app-button text='{{"Browse Photo"}}' icon_classes='{{"las la-camera-retro"}}' btn='flat'></app-button>
        <input type="file" class='hidden'>
      </div>

      <!-- Fields -->
      <app-input *ngFor="let input of inputs_list_heading" label="{{input.label}}" class="input" [attr.data-field]='input.name'>
        <input type="text" placeholder="{{input.label}}" name='{{input.name}}' formControlName='{{input.name}}'
          (input)='this.cv_info_service.change_value(input.name, form[input.name].value)'>
      </app-input>

    </div>
  </div>

  <!-- ---------------------------------------------- -->
  <!-- --------Trainings And Diplomas---------------- -->
  <!-- ---------------------------------------------- -->
  <div class="education block" formGroupName='trainings_diplomas' [class.active]='block_active === "education"'>

    <div class="fields-block">
      <!-- Fields -->
      <app-input *ngFor="let input of inputs_list_trainings_diplomas" label="{{input.label}}" class="input" [attr.data-field]='input.name'>
        <input type="text" placeholder="{{input.label}}" name='{{input.name}}' [formControlName]='input.name'
        (input)='this.cv_info_service.change_value_trainings_diplomas(0, input.name, cv_form.get(["trainings_diplomas", input.name])?.value)'>
      </app-input>

      <app-button text='{{"Add"}}' icon_classes='{{"las la-plus"}}' btn='flat'></app-button>
    </div>
  </div>

  <!-- ---------------------------------------------- -->
  <!-- --------Skills---------------- -->
  <!-- ---------------------------------------------- -->
  <div class="skills block" [class.active]='block_active === "skills"'>
    <div class="fields-block">
      <!-- Fields -->
      <app-input *ngFor="let input of inputs_list_skills" label="{{input.label}}" class="input" [attr.data-field]='input.name'>
        <input type="text" placeholder="{{input.label}}" name='{{input.name}}' formControlName='{{input.name}}'
          (input)='this.cv_info_service.change_value(input.name, form[input.name].value)'>
      </app-input>
    </div>
  </div>

  <!-- ---------------------------------------------- -->
  <!-- ---------------------------------------------- -->
  <!-- ---------------------------------------------- -->

  <!-- Buttons -->
  <div class="buttons">
    <app-button *ngIf="block_active !== 'heading'" text='{{"Previous"}}' icon_classes='{{"las la-hand-point-left"}}' (click)='previous_block()'
      btn='flat'></app-button>

    <div class='btn-left'>
      <app-button text='{{"Next"}}' icon_classes='{{"las la-hand-point-right"}}' (click)='next_block()'
        btn='flat' direction='rtl'></app-button>

      <!-- <app-button text='{{"Sign-Up"}}' icon_classes='{{"las la-sign-in-alt"}}' btn='submit' type='submit' direction='rtl'></app-button> -->
    </div>
  </div>


</form>
