<form [formGroup]="cv_form" [class.hidden]='block_active === "download"' (keydown.enter)='submit($event)' class='cv-form'>

  <!-- ---------------------------------------------- -->
  <!-- -----------------heading--------------------- -->
  <!-- ---------------------------------------------- -->
  <div class="heading-block block" [class.active]='block_active === "heading"'>

    <div class="fields-block">
      <!-- Import Image -->
      <div class="block-photo">
        <div class="img">
          <img [src]="(cv_info_service.picture) ? cv_info_service.picture : '/assets/images/user-placeholder.jpeg'">
        </div>

        <app-button text='{{"Browse Photo"}}' icon_classes='{{"las la-camera-retro"}}' btn='flat' (click)='(cv_info_service.picture) ? display_photo_editor.emit(true) : cv_picture.click()'></app-button>
        <input type="file" #cv_picture class='hidden' (change)='change_selected_picture($event)' >
      </div>

      <!-- Fields -->
      <app-input *ngFor="let input of inputs_list_heading" label="{{input.label}}" class="input" [attr.data-field]='input.name'>
        <input type="text" placeholder="{{input.label}}" name='{{input.name}}' formControlName='{{input.name}}'
          (input)='this.cv_info_service.change_value(input.name, form[input.name].value)'>
      </app-input>

    </div>
  </div>

  <!-- ---------------------------------------------- -->
  <!-- --------Trainings And Diplomas---------------- -->
  <!-- ---------------------------------------------- -->
  <div class="education-block block" [class.active]='block_active === "education"'>

    <div class="fields-block" formArrayName='trainings_diplomas'>
      <!-- Fields Group -->
      <div class="trainings_diplomas fields-container" *ngFor="let _trainings_diplomas of trainings_diplomas.controls; let i = index" [attr.data-index]='i'>
        <!-- Header -->
        <header>
          <div class="title">
            Formation: {{cv_form.get(["trainings_diplomas"])?.value[i]["trainings_diplomas_name"]}}
          </div>
          <div class="controls">
            <i class="las {{(blocks_active.education === i) ? 'la-hand-point-up' : 'la-pen-alt'}}" (click)='toggle_block_active_education(i)'></i>
            <i class="las la-trash-alt" (click)='remove_trainings_diplomas(i)'></i>
          </div>
        </header>
        <!-- Fields -->
          <div [formGroupName]='i' class='block' [class.active]='blocks_active.education === i'>
            <app-input *ngFor="let input of inputs_list_trainings_diplomas" label="{{input.label}}" class="input" [attr.data-field]='input.name'>
              <input type="text" placeholder="{{input.label}}" name='{{input.name}}' [formControlName]='input.name'
              (input)='this.cv_info_service.change_value_trainings_diplomas(i, input.name, cv_form.get(["trainings_diplomas"])?.value[i][input.name])'>
            </app-input>
          </div>
      </div>
    </div>

    <span (click)='add_trainings_diplomas_group()' class='link' *ngIf='trainings_diplomas.length > 0'>+ Add more Trainings / Diplomas</span>

    <div class="msg-empty"  *ngIf='trainings_diplomas.length === 0'>
      <i class="las la-inbox"></i>
      <div class="msg">The List is empty</div>
      <span (click)='add_trainings_diplomas_group()' class='link'>+ Add more Trainings / Diplomas</span>
    </div>
  </div>

  <!-- ---------------------------------------------- -->
  <!-- --------Skills---------------- -->
  <!-- ---------------------------------------------- -->
  <div class="skills-block block" [class.active]='block_active === "skills"'>

    <div class="fields-block" formArrayName='skills'>
      <!-- Fields Group -->
      <div class="skills fields-container" *ngFor="let _skill of skills.controls; let i = index" [attr.data-index]='i'>
        <!-- Header -->
        <header>
          <div class="title">
            Specialization:
          </div>
          <div class="controls">
            <i class="las {{(blocks_active.skills === i) ? 'la-hand-point-up' : 'la-pen-alt'}}"  (click)='toggle_block_active_skills(i)'></i>
            <i class="las la-trash-alt" (click)='remove_skills_group(i)'></i>
          </div>
        </header>

        <!-- Fields -->
          <div [formGroupName]='i' class='block' [class.active]='blocks_active.skills === i'>

            <app-input label="Specialization" class="input" data-field='specialization_name' [inline]='true'>
              <input type="text" placeholder="Specialization" name='specialization_name' formControlName='specialization_name'
              (input)='this.cv_info_service.change_value_skills("specialization_name", cv_form.get(["skills"])?.value[i]["specialization_name"], i)'>
            </app-input>

            <ul formArrayName="specialization" class="skills-sub-list">
              <li *ngFor="let spec of get_specializations(_skill); let j = index" [attr.data-index]='j' [formGroupName]='j' class='skills-fields'>
                  <app-input label="Title" class="input" data-field='title' [inline]="true">
                    <input type="text" placeholder="Title" name='title' formControlName='title'
                    (input)='this.cv_info_service.change_value_skills("title", cv_form.get(["skills"])?.value[i]["specialization"][j].title, i, j)'>
                  </app-input>

                  <app-input label="Skills" class="input" data-field='skills' [inline]="true">
                    <input type="text" placeholder="Skills" name='skills'
                        (keyup)="check_key_append_skill(spec, $event, 'skill_'+i+'_'+j, i, j)" [id]="'skill_'+i+'_'+j"
                        (keydown.enter)="append_skill(spec, $any($event.target).value, 'skill_'+i+'_'+j, i, j)"
                    >
                    <i class="las la-plus icon" (click)="append_skill_by_id(spec, 'skill_'+i+'_'+j, i, j)"></i>
                  </app-input>

                  <ul class='skills-tags noselect' *ngIf='list_skills_names(spec).length > 0'>
                    <li *ngFor='let skill_name of list_skills_names(spec); let tag_idx = index'>
                      <app-tag (remove)='remove_skill_tag(spec, i, j, tag_idx)'>{{ skill_name }}</app-tag>
                    </li>
                  </ul>
              </li>
            </ul>
          </div>
      </div>

    </div>

    <span (click)='add_skills_group()' class='link' *ngIf='skills.length > 0'>+ Add more Skills</span>

    <div class="msg-empty"  *ngIf='skills.length === 0'>
      <i class="las la-inbox"></i>
      <div class="msg">The List is empty</div>
      <span (click)='add_skills_group()' class='link'>+ Add more Skills</span>
    </div>
  </div>

  <!-- ---------------------------------------------- -->
  <!-- --------Work history---------------- -->
  <!-- ---------------------------------------------- -->
  <div class="work-history-block block" [class.active]='block_active === "work history"'>

    <div class="fields-block" formArrayName='work_history'>
      <!-- Fields Group -->
      <div class="work-history fields-container" *ngFor="let _work_history of work_history.controls; let i = index" [attr.data-index]='i'>
        <!-- Header -->
        <header>
          <div class="title">
            Work History: {{cv_form.get(["work_history"])?.value[i]["job"]}}
          </div>
          <div class="controls">
            <i class="las {{(blocks_active.work_history === i) ? 'la-hand-point-up' : 'la-pen-alt'}}" (click)='toggle_block_active_work_history(i)'></i>
            <i class="las la-trash-alt" (click)='remove_work_history(i)'>
            </i>
          </div>
        </header>
        <!-- Fields -->
          <div [formGroupName]='i' class='block' [class.active]='blocks_active.work_history === i'>
            <app-input *ngFor="let input of inputs_list_work_history" label="{{input.label}}" class="input" [attr.data-field]='input.name'>
              <input type="text" placeholder="{{input.label}}" name='{{input.name}}' [formControlName]='input.name'
              (input)='this.cv_info_service.change_value_work_history(i, input.name, cv_form.get(["work_history"])?.value[i][input.name])'>
            </app-input>
          </div>
      </div>
    </div>

    <span (click)='add_work_history_group()' class='link' *ngIf='work_history.length > 0'>+ Add more Work History</span>

    <div class="msg-empty"  *ngIf='work_history.length === 0'>
      <i class="las la-inbox"></i>
      <div class="msg">The List is empty</div>
      <span (click)='add_work_history_group()' class='link'>+ Add more Work History</span>
    </div>
  </div>

  <!-- ---------------------------------------------- -->
  <!-- ---------------------------------------------- -->
  <!-- ---------------------------------------------- -->

  <!-- Buttons -->
  <div class="buttons">
    <app-button *ngIf="block_active !== 'heading'" text='{{"Previous"}}' icon_classes='{{"las la-hand-point-left"}}' (click)='previous_block()'
      btn='flat'></app-button>

    <div class='btn-left'>
      <app-button text='{{"Next"}}' icon_classes='{{"las la-hand-point-right"}}' (click)='next_block()'
        btn='flat' direction='rtl'></app-button>

      <!-- <app-button text='{{"Sign-Up"}}' icon_classes='{{"las la-sign-in-alt"}}' btn='submit' type='submit' direction='rtl'></app-button> -->
    </div>
  </div>


</form>
