<form [formGroup]="cv_form" [class.hidden]='block_active === "download"'>
  <!-- heading -->
  <div class="heading block" [class.active]='block_active === "heading"'>

    <div class="fields-block">
      <!-- Import Image -->
      <div class="block-photo">
        <div class="img">
          <img src="/assets/images/user-placeholder.jpeg">
        </div>

        <app-button text='{{"Browse Photo"}}' icon_classes='{{"las la-camera-retro"}}' btn='flat'></app-button>
        <input type="file" class='hidden'>
      </div>

      <!-- Fields -->
      <app-input label="{{'First Name'}}" class="input" data-field='first-name'>
        <input type="text" placeholder="First Name" name='first_name' formControlName='first_name'
          (input)='this.cv_info_service.change_value("first_name", form["first_name"].value)' required>
      </app-input>

      <app-input label="{{'Last Name'}}" class="input" data-field='last-name'>
        <input type="text" placeholder="Last Name" name='last_name' formControlName='last_name'
          (input)='this.cv_info_service.change_value("last_name", form["last_name"].value)' required>
      </app-input>

      <app-input label="{{'Profession'}}" class="input" data-field='profession'>
        <input type="text" placeholder="Profession" name='profession' formControlName='profession'
          (input)='this.cv_info_service.change_value("profession", form["profession"].value)' required>
      </app-input>

      <app-input label="{{'Email'}}" class="input" data-field='email'>
        <input type="email" placeholder="Email" name='email' formControlName='email'
          (input)='this.cv_info_service.change_value("email", form["email"].value)' required>
      </app-input>

      <app-input label="{{'Phone Number'}}" class="input" data-field='phone'>
        <input type="tel" placeholder="Phone Number" name='phone' formControlName='phone'
          (input)='this.cv_info_service.change_value("phone", form["phone"].value)' required>
      </app-input>

      <app-input label="{{'Address'}}" class="input" data-field='address'>
        <input type="text" placeholder="Address" name='address' formControlName='address'
          (input)='this.cv_info_service.change_value("address", form["address"].value)' required>
      </app-input>

      <app-input label="{{'Date of Birth'}}" class="input" data-field='date_birth'>
        <input type="tel" placeholder="Date of Birth" name='date_birth' formControlName='date_birth'
          (input)='this.cv_info_service.change_value("date_birth", form["date_birth"].value)' required>
      </app-input>
    </div>
  </div>

  <!-- Buttons -->
  <div class="buttons">
    <app-button *ngIf="block_active !== 'heading'" text='{{"Previous"}}' icon_classes='{{"las la-hand-point-left"}}'
      btn='flat'></app-button>

    <div class='btn-left'>
      <app-button *ngIf="block_active !== 'finalize'" text='{{"Next"}}' icon_classes='{{"las la-hand-point-right"}}'
        btn='flat' direction='rtl'></app-button>

      <!-- <app-button text='{{"Sign-Up"}}' icon_classes='{{"las la-sign-in-alt"}}' btn='submit' type='submit' direction='rtl'></app-button> -->
    </div>
  </div>


</form>
