@import "/src/assets/styles/global/variables/variables";
@import "/src/assets/styles/global/components/labels/links/link.scss";


.cv-form
{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 5px 10px 10px;
  box-sizing: border-box;
  overflow: hidden;

  > .block
  {
    display: none;
    position: absolute;
    width: 95%;
    background: $main-background-color-light;
    height: 100%;

    &.active{display: block;}

    //Fields block template
    .fields-block
    {
      .fields-container
      {
        box-shadow: 0 4px 7px 2px #00000069;
        border-radius: 0 0 5px 5px;
        margin: 5px 0 10px;

        header
        {
            display: flex;
            justify-content: space-between;
            background-color: $main-color-light-2;
            padding: 5px;
            border-radius: 5px 5px 0 0;
            align-items: center;

            .title
            {

            }
            .controls
            {
              min-width: max-content;
              i
              {
                font-size: 1.5em;
                color: #ccc;
                margin: 0 5px;
                cursor: pointer;

                &:hover{color: #FFF}
              }
            }
        }

        .block
        {
          background-color: #0000002e;
          border-radius: inherit;
          padding: 5px;
          box-sizing: border-box;
          height: 0;
          overflow:hidden;

          &.active
          {
            height: 100%;
          }
        }
      }
    }

    //Heading
    &.heading-block
    {
      .block-photo
      {
        display: flex;
        align-items:center;
        flex-direction: column;
        margin: 20px 0;
        gap: 10px 0;


        .img
        {
          width: 100px;
          height: 100px;
          border-radius: 50%;

          img
          {
            width: 100%;
            border-radius: inherit;
          }
        }
      }

      .fields-block
      {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        max-width: 100%;
        gap: 0 5px;

        .block-photo
        {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }

        .input[data-field='first-name']
        {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          align-self: center;
        }
        .input[data-field='last-name']
        {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
          align-self: center;
        }
        .input[data-field='profession']
        {
          grid-column: 2 / 4;
          grid-row: 2 / 3;
          align-self: start;
        }
        .input[data-field='email']
        {
          grid-column: 1 / 3;
          grid-row: 3 / 4;
        }
        .input[data-field='phone']
        {
          grid-column: 3 / 4;
          grid-row: 3 / 4;
        }
        .input[data-field='address']
        {
          grid-column: 1 / 3;
          grid-row: 4 / 5;
        }
        .input[data-field='city']
        {
          grid-column: 3 / 4;
          grid-row: 4 / 5;
        }
      }
    }

    //Education
    &.education-block,
    &.work-history-block
    {
      .fields-block
      {
        .trainings_diplomas,
        .work-history
        {
          .block
          {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;

            > .input
            {
                width: 49%;
            }
          }
        }
      }
    }

    //Skills
    &.skills-block
    {
      .fields-block
      {
        .fields-container
        {
            .block
            {
              .input{}

              .skills-sub-list
              {
                .skills-fields
                {
                  padding: 1px;
                  background-color: #0000006b;
                  border-radius: 5px;
                  border: 1px solid #000;
                  .input
                  {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    input{max-width:400px}
                  }

                  .skills-tags
                  {
                    background-color: #353340;
                    padding: 5px;
                    margin: 5px;
                    border-radius: 4px;
                    display: flex;
                    flex-wrap: wrap;
                  }
                }
              }
            }
        }
      }
    }

    &.education-block,
    &.skills-block,
    &.work-history-block
    {
      .fields-block
      {
        height: 78%;
        overflow: auto;
        margin-bottom: 5px;
      }
    }

    .msg-empty
    {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
      gap: 13px 0;
      /* text-align: center; */

      i
      {
        filter: drop-shadow(2px 4px 6px black);
        font-size: 4em;
      }
    }
  }

  .buttons
  {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px;
    width: 100%;
    align-self: flex-end;
    position: relative;
    z-index: 1;

    .btn-left { margin-left: auto; }
  }
}

