@import "/src/assets/styles/global/variables/variables";

.cv-list
{
  > ul
  {
    display: flex;
    gap: 80px 22px;
    flex-wrap: wrap;
    justify-content: space-around;

    > li
    {

      .thumbnail,
      .thumbnail img,
      .presentation
      {
        width: 280px;
      }

      .thumbnail,
      .thumbnail img
      {
        height: 400px;
      }

      .thumbnail
      {
        img
        {
          border-radius: 5px;
        }
      }
      .presentation
      {
        .title
        {
          margin: 7px 0px;
          text-shadow: 0 0 2px #412c3d;
          color: #8b7386;
        }
        .desc{}
        .tags
        {
          display: flex;
          gap: 10px;
          padding: 0;
          flex-wrap: wrap;
          margin-top: 10px;

          li
          {
            padding: 5px 10px;
            background-color: $main-background-color-light;;
            border: 2px solid $main-color-light;;
            color: $main-color-light;;
            border-radius: 15px;
            width: max-content;
            cursor: pointer;

            &.active
            {
              background-color: $main-color-light;
              border-color: $main-background-color-light;
              color: $main-background-color-light;
            }
          }
        }
      }

    }
  }
}
