<!-- Filter -->
<section class="cv-list component-container">
    <ul>
      <!-- <li *ngFor='let cv of cv_list'></li> -->
      <li>

        <div class="thumbnail">
          <img src="/assets/images/cv-template.png">
        </div>

        <div class="presentation">
          <h2 class="title">Model 1</h2>
          <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, facilis</p>
          <ul class="tags">
            <li>Professional</li>
            <li class='active'>Programming</li>
            <li>Perfect</li>
            <li>Dark Colors</li>
          </ul>
        </div>
      </li>

      <li>

        <div class="thumbnail">
          <img src="/assets/images/cv-template.png">
        </div>

        <div class="presentation">
          <h2 class="title">Model 1</h2>
          <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, facilis</p>
          <ul class="tags">
            <li>Professional</li>
            <li class='active'>Programming</li>
            <li>Perfect</li>
            <li>Dark Colors</li>
          </ul>
        </div>
      </li>

      <li>

        <div class="thumbnail">
          <img src="/assets/images/cv-template.png">
        </div>

        <div class="presentation">
          <h2 class="title">Model 1</h2>
          <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, facilis</p>
          <ul class="tags">
            <li>Professional</li>
            <li class='active'>Programming</li>
            <li>Perfect</li>
            <li>Dark Colors</li>
          </ul>
        </div>
      </li>
    </ul>
</section>
