.items-list
{
  > ul
  {
    grid-template-columns: repeat(3, 33%);

    > li
    {
      background-color: #353340;
      box-shadow: 0 0 6px 0px #000;

      .thumbnail,
      .presentation
      {
        width: 280px;
      }

      .thumbnail,
      .thumbnail img
      {
        height: 400px;
      }

      .thumbnail
      {
        img
        {
          border-radius: 5px;
        }
      }
    }
  }
}
