.combo
{
  display: flex;
  gap: 0 10px;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .title
  {

  }
  .selector
  {
    box-shadow: 0 0 2px 0 #000000ad;
    border-radius: 2px;
    position: relative;
    background-color: #f4f4f4;
    z-index: 10;
    width: 100%;

    header
    {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      cursor: pointer;
      min-width: 200px;
      padding: 7px 5px;

      .placeholder
      {
        width: 100%;
        display: block;
      }
    }

    .items
    {
      display: none;
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      transform: translateY(4px);
      border-radius: 3px;
      box-shadow: 0 0px 2px 0 #000;
      background-color:#FFF;
      max-height: 160px;
      overflow-y: scroll;
      border-bottom: 6px solid #fff;


      .item
      {
          padding: 10px 5px;
          color: #747474;
          cursor: pointer;

          &:hover
          {
            background-color: #eee9;
            color: #464646;
          }
      }
    }

  }

  &.active
  {
    .selector
    {
      .items
      {
        display: block;
      }
    }
  }
}
