<div class="text-editor">
  <header>
    <h3 class="title">
      <span>Text Settings</span>
      <span>
        <i class="fas fa-times"></i>
      </span>
    </h3>
  </header>

  <div class="property">
    <label>Text</label>
    <app-input class="input">
      <input type="text" name='name' autocomplete="off">
    </app-input>
  </div>

  <div class="property">
    <label>Fonts</label>
    <app-combo></app-combo>
  </div>

  <div class="property">
    <label>Font size (px)</label>
  </div>

  <div class="property inline-properties">
    <i class="fas fa-bold"></i>
    <i class="fas fa-italic"></i>
    <i class="fas fa-underline"></i>
    <i class="fas fa-link"></i>
    <i class="fas fa-paragraph"></i>
  </div>
</div>
