.text-editor
{
  min-width: 300px;
  border-top: 5px solid #116DFF;
  font-size: 1.1em;
  overflow: hidden;

  h3
  {
    margin: 0;
    padding: 0;
  }

  header,
  .property
  {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  header
  {
    .title
    {
      display: flex;
      justify-content:space-between;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .property
  {
    border-top: .4px solid #ccc;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px 0;

    .combo {width: 100%}

    label
    {
      font-weight: 100;
      font-size: .9em;
      color: #333;
    }

    &.inline-properties
    {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }

    .icon
    {
      padding: 8px 10px;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &.active
      {
        background: #116dff;
        border-radius: 50%;
        color: white;
      }

      &:hover
      {
        transform: translateY(-3px);
      }
    }
  }
}
