@import "/src/assets/styles/global/variables/variables";

.btn
{
  padding: 5px 10px;
  border: 1px solid $link-color-active;
  box-shadow: 0 3px 3px 0px #161616a6;
  border-radius: 2px;
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0 3px;
  color: $main-background-color-light;
  transition: all .3s;

  &:hover
  {
    box-shadow: 0 2px 15px 0px #0d0d0da6;
  }

  i
  {
      font-size: 1.3rem;
      order: 1
  }

  span
  {
      order: 2
  }


  &.flat
  {
    background: $link-color-active;
    color: $main-background-color;
  }

  &.submit
  {
    background: $submit-background;
    border-color: $submit-background;
    color: $submit-color;
  }

  &.disabled
  {
    background: #6bc2ff;
    color: #ffffffa8;
    box-shadow: none;
    cursor: default;
  }

  &:focus
  {
    outline: 2px solid #605f63;
  }
}

