@import "/src/assets/styles/global/variables/variables";

.btn
{
  padding: 5px 10px;
  border: 1px solid #fff;
  box-shadow: 0 3px 5px 3px #161616a6;
  border-radius: 2px;
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0 3px;

  &:hover
  {
    box-shadow: 0 3px 5px 3px #0d0d0da6;
  }

  &.flat
  {
    background-color: white;
    color: $main-background-color;
  }

  i
  {
      font-size: 1.3rem;
  }
}

