<nav>
  <header>
    <h1 class="title">Cv-Maker</h1>
  </header>

  <hr>

  <!-- Menu -->
  <div class="block">
    <h5 class="title">{{"Menu" | uppercase}}</h5>
    <ul>
      <li routerLink="discover" class='active'><a>
        <i class="las la-dove"></i>Discover
      </a></li>
      <li routerLink="trending"><a>
        <i class="las la-dove"></i>Trending
      </a></li>
      <li routerLink=""><a>
        <i class="las la-dove"></i>Option 3
      </a></li>
      <li routerLink=""><a>
        <i class="las la-dove"></i>Option 4
      </a></li>
    </ul>
  </div>

  <hr>

  <!-- Categorie -->
  <div class="block">
    <h5 class="title">{{"Category" | uppercase}}</h5>
    <ul>
      <li routerLink=""><a>
        <i class="las la-dove"></i>Option 4
      </a></li>
    </ul>
  </div>
</nav>
