<nav>
  <header>
    <h1 class="title"><i class="las la-dove"></i> Cv Maker</h1>
  </header>


  <!-- Menu -->
  <div class="block">
    <h5 class="title">{{"Menu" | uppercase}}</h5>
    <ul>
      <li routerLink="discover" class='active'><a>
        <i class="las la-home"></i>Discover
      </a></li>
      <li routerLink="trending"><a>
        <i class="las la-dove"></i>Trending
      </a></li>
      <li routerLink=""><a>
        <i class="las la-dove"></i>Option 3
      </a></li>
      <li routerLink=""><a>
        <i class="las la-dove"></i>Option 4
      </a></li>
    </ul>
  </div>

  <hr>

  <!-- Categorie -->
  <div class="block">
    <h5 class="title">{{"Category" | uppercase}}</h5>
    <ul>
      <li routerLink=""><a><i class="las la-dove"></i>Category 1</a></li>
      <li routerLink=""><a><i class="las la-dove"></i>Category 2</a></li>
      <li routerLink=""><a><i class="las la-dove"></i>Category 3</a></li>
      <li routerLink=""><a><i class="las la-dove"></i>Category 3</a></li>
    </ul>
  </div>
</nav>
