<section class="discover component-container">

  <!-- Presentation -->
  <section>
    <h1 class="title">Discover</h1>
    <div class="blocks-container">
      <app-full-block
          title='{{"How to create a very beautiful Cv for FREE"}}'
          url="/assets/images/descover/img1.jpg"
      ></app-full-block>
      <app-full-block
          title='For Make a perfect Cv, Tips You need to know'
          data-grow='2'
          url="/assets/images/descover/img2.jpg"
          [discount]=70
      ></app-full-block>
    </div>
  </section>

  <!-- most-used -->
  <section>
    <h2 class="sub-title">Most Used</h2>
    <div class="blocks-container">
      <app-full-block
          title='For Make a perfect Cv, Tips You need to know'
          url="/assets/images/descover/img8.jpg"
      ></app-full-block>


      <app-full-block
          title='For Make a perfect Cv, Tips You need to know'
          url="/assets/images/descover/img9.jpg"
      ></app-full-block>


      <app-full-block
          title='For Make a perfect Cv, Tips You need to know'
          url="/assets/images/descover/img10.jpg"
      ></app-full-block>


      <app-full-block
          title='For Make a perfect Cv, Tips You need to know'
      ></app-full-block>
    </div>
  </section>

  <section class="most-used">
    <h2 class="sub-title">Most Used</h2>
    <div class="blocks-container">
      <app-full-block
          title='For Make a perfect Cv, Tips You need to know'
          url="/assets/images/descover/img5.jpg"
      ></app-full-block>


      <app-full-block
          title='For Make a perfect Cv, Tips You need to know'
          url="/assets/images/descover/img8.jpg"
      ></app-full-block>


      <app-full-block
          title='For Make a perfect Cv, Tips You need to know'
          url="/assets/images/descover/img10.jpg"
      ></app-full-block>


      <app-full-block
          title='For Make a perfect Cv, Tips You need to know'
          url="/assets/images/descover/img3.jpg"
      ></app-full-block>
    </div>

  </section>
</section>
