<section class="cv-maker component-container">
  <header>
    <ul class="progress-bar">
      <li *ngFor="let block of blocks; let i = index" [class.active]="blocks[block_active] == blocks[i]" (click)="block_active = i">
        <span class='index'>{{(i+1)}}</span> {{blocks[i] | titlecase }}
      </li>
    </ul>
  </header>

  <section class="cv-creator" [class.full-preview]="blocks[block_active] === 'download'">
    <!-- Form -->
      <section class="form" [class.hidden]="blocks[block_active] === 'download'">
          <app-cv-form [block_active]='blocks[block_active]' (next_block_emitter)='next_block()' (previous_block_emitter)='previous_block()' (display_photo_editor)='on_display_photo_editor($event)'></app-cv-form>
      </section>

      <!-- Preview -->
      <section class="preview">
          <app-cv-preview [block_active]='blocks[block_active]'></app-cv-preview>
      </section>
  </section>
  <!-- <div class="photo-editor"> -->
    <app-photo-editor [class.hidden]="!display_photo_editor" (display_photo_editor)='on_display_photo_editor($event)'></app-photo-editor>
  <!-- </div> -->
</section>
