@import "/src/assets/styles/global/variables/variables";

.connection
{
    width: 400px;
    margin:auto;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    .info-progress
    {
      display: flex;
      width: 100%;
      gap: 0px 3px;
      margin-bottom: 5px;

      .info
      {
        flex-grow: 1;
        height: 5px;
        background-color: #eeeeee3d;
        border-radius: 3px;

        &.active
        {
          background-color: palegreen;
        }
      }
    }

    > .container
    {
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 0 7px 1px #111;

      header,
      .container
      {padding: 10px;}

      header
      {
          background-color: $main-background-color-light;

          .title
          {

          }
      }
      .container
      {

      }

    }
}
