<section class="connection">
    <div class="info-progress">
      <!-- For Loop -->
      <div class="info" *ngIf='connection_type == "Sign-up"' [class.active]='inputs_valids.first_name'></div>
      <div class="info" *ngIf='connection_type == "Sign-up"' [class.active]='inputs_valids.last_name'></div>
      <div class="info" [class.active]='inputs_valids.email'></div>
      <div class="info" [class.active]='inputs_valids.password'></div>
      <div class="info" *ngIf='connection_type == "Sign-up"' [class.active]='inputs_valids.password_confirmation'></div>
    </div>

    <div class="container">
      <header>
          <div class="back">
            <div></div>
            <div></div>
          </div>
          <div class="title">{{ connection_type }}</div>
      </header>
      <div class="container">
          <router-outlet></router-outlet>
      </div>
    </div>
</section>
