<section class="connection">
    <div class="info-progress">
      <!-- For Loop -->
      <div class="info"></div>
      <div class="info"></div>
      <div class="info"></div>
      <div class="info"></div>
      <div class="info"></div>
      <div class="info"></div>
      <div class="info"></div>
    </div>

    <div class="container">
      <header>
          <div class="title">Connection</div>
      </header>
      <div class="container">
          <router-outlet></router-outlet>
      </div>
    </div>
</section>
