.portfolio-maker
{
  header
  {
    display: flex;
    justify-content: space-between;
    padding: 9px 24px;
    align-items: center;
    border: 1px solid #c2c2c280;
    box-shadow: 0 0px 10px 3px #0000005c;
    position: relative;
    z-index: 1;

    .left-side
    {
      display: flex;
      gap: 0 10px;

      .logo
      {
        margin: 0;
        padding: 0;
      }

      .pages-nav
      {
        display: flex;
        align-items: center;
      }
    }
    .right-side
    {
      display: flex;
      gap: 0 20px;
      align-items: center;
    }
  }

  .editor
  {
    display: flex;
    height: 100vh;

    .tools
    {
        width: 65px;
        background-color: #131720;
        border-right: 1px solid #c2c2c280;
        box-shadow: 0 13px 10px 3px #0000005c;
        z-index: 2;
        position: relative;

        .icon
        {
          width: 45px;
          height: 45px;
          margin: 30px auto;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &.active,
          &:hover
          {
            box-shadow: 0 0 8px 1px #00000024;
            border-radius: 50%;
            background-color: #FFF;

            i{color: #131720}
          }

          i
          {
            font-size: 1.4em;
            color: #FFF;
          }
        }
    }
    .content
    {
        flex-grow: 1;
    }
  }


}
