@import "/src/assets/styles/global/animations/animations.scss";
@import "/src/app/components/partials/inputs/input/input.component.scss";

.inputs
{
  // display: flex;
  position: relative;
  max-width: 100%;
  height: 333px;
  // overflow-x: hidden;

  .block
  {
      min-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      
      &:not(.active){display: none;}
      
      &.active
      {
        animation: ToggleBlock .3s ease-in-out alternate forwards;
      }

      .block-photo
      {
        display: flex;
        align-items:center;
        flex-direction: column;
        margin: 20px 0;
        gap: 10px 0;


        .img
        {
          width: 100px;
          height: 100px;
          border-radius: 50%;

          img
          {
            width: 100%;
            border-radius: inherit;
          }
        }
      }
  }
}

.buttons
{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;

  .btn-left
  {
    margin-left: auto;
  }
}
