<div class="full-block">
    <div class="background">
        <img src="{{url}}">
    </div>
    <div class="container">
        <h2 class="title">{{title}}</h2>
        <div class="creator">
            <div class="img">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG4WubjfkOKUg/profile-displayphoto-shrink_800_800/0/1595429954190?e=1642032000&v=beta&t=ZXEkReHLUXgNoRbY2_1L_9wiNcKGKFoZZ7QAvhK_k3I">
                <div class="verified">
                    <i class="las la-check-circle"></i>
                </div>
            </div>
            <div class="info-creator">
                <span class="name">Younes ADNANE</span>
                <span class="details">53K views 2 weeks ago</span>
            </div>
        </div>
    </div>

    <small class="price">{{ discount | discount }}</small>
    <!-- <small class="price">{{ discount | discount }}</small> -->
</div>