<div class="input" [class.checkbox]='is_checkbox' [class.inline]='inline' [class.error]='field?.touched && (errors_list || pasword_does_not_match)'>
  <label>{{label}}</label>

  <ng-content></ng-content>

  <!-- Or if password confirmation is Dirty and is not match ==> Throw an error-->

  <ul class="errors" *ngIf='field?.touched && (errors_list || pasword_does_not_match)'>
    <li class='error' *ngIf='errors_list?.required'>
      The '{{label}}' field is required
    </li>
    <li class="error" *ngIf='errors_list?.minlength'>
      {{"'"+label+"' must contain at least "+errors_list?.minlength?.requiredLength+" characters"}}
    </li>
    <li class="error" *ngIf='errors_list?.maxlength'>
      {{"'"+label+"' must contain at most "+errors_list?.maxlength?.requiredLength+" characters"}}
    </li>
    <li class="error" *ngIf='errors_list?.pattern'>
      Format Invalid
    </li>
    <li class="error" *ngIf='label == "Confirm Password" && pasword_does_not_match'>
      The password confirmation does not match
    </li>

  </ul>
</div>
