@import "/src/assets/styles/global/variables/variables";

.input
{
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  margin: 5px 0;

  label
  {
  }

  input
  {
    background-color: $input-background-color-light;
    border: 0;
    outline: none;
    padding: 8px 10px;
    font-size: 1.1rem;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px #000 inset;
    color: $input-color-light;
  }

  &.checkbox
  {
    flex-direction: row-reverse;
    filter: hue-rotate(47deg);
  }
}
