//Variables
$template-main-color: #33846F;

.portfolio-template
{
  overflow-x: hidden;
  height: -webkit-fill-available;

  .container
  {
    max-width: 1500px;
    margin: auto;
    width: 100%;
  }

  .btn
  {
    background-color: $template-main-color;
    box-shadow: 0 1px 7px 0px #161616b8;
    color: white;
    padding: 7px 14px;
    border: none;
    &:focus{outline: none;}
  }

  h1,
  h2,
  h3,
  h4
  {
    margin: 0;
    padding: 0;
  }

  ::selection {
    color: #FFF;
    background: $template-main-color;
  }

	> header
	{
    background-color: $template-main-color;
    color: white;
    padding: 20px 20px 0;

    .container
    {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title
      {
        cursor: default;

        .sub-title{font-size: .5em;}
      }
      nav
      {
        ul
        {
          display: flex;
          gap: 0 30px;
          align-items: center;

          li
          {
            font-size: 1.2em;
            cursor: pointer;

            .btn
            {
              background-color: #FFF;
              color: $template-main-color;
            }

            &.active,
            &:hover
            {font-weight: bold;}
          }
        }
      }
    }
	}

  .pers-info
  {
    height: 600px;
    position: relative;
    padding-bottom: 50px;

    > *
    {
      padding: 0 20px;
      box-sizing: border-box;
    }

    .back
    {
      height: 50%;
      overflow: hidden;
      background: linear-gradient(180deg, $template-main-color, #6bbba6);
      box-shadow: 0 14px 9px 4px #67b8a3;

      img
      {
        width: 100%;
        height: 150%;
        filter: hue-rotate(81deg);
      }
    }

    .content
    {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      padding-top: 100px;

      > * {width: 50%;}

      .image
      {
        text-align: center;

        img
        {
          max-width: 400px;
          height: 500px;
          border-radius: 5px;
          box-shadow: 0 0 19px 5px #0000002b;
        }
      }

      .info
      {
        font-size: 1.1em;
        color: white;
        padding-top: 40px;

        > * {margin-bottom: 20px}

        .title
        {
          font-size: 3em;
          line-height: 1;
        }
        .profession
        {
          font-weight: 100;
        }

        .links
        {
          display: flex;
          gap: 0 20px;
          font-size: 1.4em;

          i
          {
            color: #eee;
            cursor: pointer;
            &:hover{color: #fff;}
          }
        }
        .description
        {
          color: #333;
          margin-top: 50px;
          max-width: 400px;
        }
      }
    }
  }

  .services
  {
      min-height: 600px;
      text-align: center;
      padding: 50px 0;
      font-size: 1.1em;

      header
      {
        margin-bottom: 70px;

        .container
        {
          max-width: 500px;

          .title
          {
            font-size: 2em;
            color: #33846F;
            margin-bottom: 10px;
          }
          .desc
          {
        }
        }
      }

      .services-list
      {
        display: grid;
        grid-template-columns: repeat(3, 25%);
        gap: 100px 20px;
        justify-content: space-around;

        .service
        {
          .title
          {
            display: flex;
            flex-direction: column;
            gap: 20px 0;
            margin-bottom: 15px;
            color: #333;

            i
            {
              font-size: 3em;
            }
            span
            {
              font-weight: 500;
            }
          }

          .desc
          {
            font-weight: 100;
          }
          &:hover
          {
            .title
            {
              color: $template-main-color;
            }
          }
        }
      }

      .desc{color: #555;}

      .input-editable input,
      .input-editable textarea
      {text-align: center !important;}
  }
}
